<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bazalist Vue Js</title>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style>
		.content{
			padding-top: 10% ;
		}
		.total{
			margin-left: 210px;
		}
	</style>
</head>
<body>
	<div id="app" class="container">
		<div class="row"> 
			<div class="col-md-4 offset-md-4 content">

				<h3 class="text-center">Bazar List</h3>

				<form @submit.prevent="addItem">
					<label for="newItem">Add New Item</label>
					<input v-model="newItem" class="form-control"> 
				</form>
				<hr>

				<ul class="list-group">
					<li v-for="(item, index) in items" :key="index" class="list-group-item">
						<button class="btn btn-sm btn-danger" @click="removeItem(index)">-</button>
						{{ item.name }} - <input v-model="item.price">
					</li>
					<li class="list-group-item">Total :<span class="total">{{ total }}</span></li>
				</ul>

			</div>
		</div>
	</div>
	<!-- All javascript Goes Here -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!-- Vue Component -->
	<script>
		var app = new Vue({
			el: '#app',
			data: {
				items: [
				{ name: 'Rice', price: 50.55},
				{ name: 'Wheat', price: 30.00},
				{ name: 'lentils', price: 100.55},
				],
				newItem: ''
			},
			computed: {
				total(){
					var total = 0
					this.items.forEach(item => {
						total += parseFloat(item.price)
					})
					return total
				}
			},
			methods: {
				addItem(){
					this.items.push({
						name: this.newItem,
						price: 0.0
					})
				},
				removeItem(index){
					this.items.splice(index, 1)
				}
			}
		})
	</script>
</body>
</html>
